.product-card{

    transition:.3s;

    border:none;

    border-radius:15px;

    overflow:hidden;

}

.product-card:hover{

    transform:translateY(-8px);

    box-shadow:0 8px 20px rgba(0,0,0,.15);

}

.product-image{

    height:280px;

    object-fit:cover;

}

.card-body p{

    margin-bottom:8px;

}

.product-card{

    transition:.3s;

    border:none;

    border-radius:15px;

    overflow:hidden;

}

.product-card:hover{

    transform:translateY(-10px);

    box-shadow:0 15px 30px rgba(0,0,0,.2);

}

.product-image{

    height:300px;

    object-fit:cover;

}

.btn-warning{

    background:#d4af37;

    border:none;

    color:white;

}

.btn-warning:hover{

    background:#b9921f;

}

.btn-outline-danger:hover{

    color:white;

}